<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <header class="container center">
            <a href="/" class="logo container center">
                <img src="/static/logo.jpg" alt="sångbok" height="75" width="75">
                <h2 class="highlighted" style="color: var(--primary)">Sångboken</h2>
            </a>
            <div class="spacer"></div>

        </header>
        <main class="container vertical center">
            {{ content }}
        </main>
        <footer class="container"  style="justify-content: space-between;">
            <a href="/" class="logo container center">
                <img src="/static/logo.jpg" alt="sångbok" style="height: 3em; width: 3em;">
            </a>
            <div class="container vertical control">
                <label for="fontsize">Textstorlek</label>
                <input type="range" min=12 max=30 value=16 id="fontsize">
            </div>
            <div class="container control" style="align-items: center;">
                <label for="showchords">Ackord</label>
                <input type="checkbox" id="showchords" style="margin-left: .5em;">
            </div>
            <div class="container control" style="align-items: center;">
                <label for="lightmode">Ljust läge</label>
                <input type="checkbox" id="lightmode" style="margin-left: .5em;">
            </div>
        </footer>
        <script src="/static/app.js"></script>
    </body>
</html>